<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.master.chat.sys.mapper.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.master.chat.sys.pojo.entity.Dept">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="name" property="name"/>
        <result column="sys_user_id" property="sysUserId"/>
        <result column="parent_id" property="parentId"/>
        <result column="tree_path" property="treePath"/>
        <result column="level" property="level"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id,
        t.create_user,
        t.create_time,
        t.update_user,
        t.update_time,
        t.enterprise_id, t.client_id, t.name, t.sys_user_id, t.parent_id, t.tree_path, t.level, t.sort, t.status, deleted
    </sql>

    <select id="listDeptBySysUserId" resultType="com.master.chat.sys.pojo.vo.DeptVO">
        SELECT t.id, t.name, t.sys_user_id, t.parent_id ,t.tree_path
        FROM sys_dept t WHERE t.id IN (SELECT t.dept_id FROM sys_user_dept t WHERE t.sys_user_id = #{sysUserId} AND t.`status` = 1)
                          and t.status = 1 and t.deleted = 0
    </select>

    <select id="listDeptById" resultType="com.master.chat.sys.pojo.vo.DeptVO">
        SELECT <include refid="Base_Column_List"></include> FROM sys_dept t WHERE t.status = 1 and t.deleted = 0 and t.parent_id = #{id}
    </select>

    <select id="listDeptByIds" resultType="com.master.chat.sys.pojo.vo.DeptVO">
        SELECT <include refid="Base_Column_List"></include> FROM sys_dept t WHERE t.status = 1 and t.deleted = 0 and t.parent_id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

</mapper>
