<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.master.chat.sys.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.master.chat.sys.pojo.entity.Resource">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="name" property="name"/>
        <result column="title" property="title"/>
        <result column="code" property="code"/>
        <result column="icon" property="icon"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="query" property="query"/>
        <result column="perms" property="perms"/>
        <result column="parent_id" property="parentId"/>
        <result column="redirect" property="redirect"/>
        <result column="type" property="type"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="hidden" property="hidden"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user,
        create_time,
        update_user,
        update_time,
        `name`, `code`, title, icon, `path`, component, `query`, perms, parent_id, redirect, type, sort, `status`, hidden, deleted
    </sql>

    <select id="listResource" resultType="com.master.chat.sys.pojo.entity.Resource">
        select <include refid="Base_Column_List"></include> from sys_resource t where t.deleted = 0
        and t.type in
        <foreach collection="types" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and t.id in (select t1.resource_id from sys_role_resource t1 where t1.status = 1 and
        t1.role_id in
        <foreach collection="roleIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        ) order by t.sort
    </select>

</mapper>
