<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.master.chat.sys.mapper.SysConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.master.chat.sys.pojo.entity.SysConfig">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="name" property="name"/>
        <result column="config_key" property="configKey"/>
        <result column="config_value" property="configValue"/>
        <result column="type" property="type"/>
        <result column="remark" property="remark"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user,
        create_time,
        update_user,
        update_time,
        name, config_key, config_value, type, remark, deleted
    </sql>

    <select id="pageConfig" resultType="com.master.chat.sys.pojo.entity.SysConfig">
        select <include refid="Base_Column_List"/>
        from sys_config
        <where>
            <if test="q.name != null and q.name != ''">
                AND config_name like concat('%', #{q.configName}, '%')
            </if>
            <if test="q.configType != null and q.configType != ''">
                AND config_type = #{q.configType}
            </if>
            <if test="q.configKey != null and q.configKey != ''">
                AND config_key like concat('%', #{q.configKey}, '%')
            </if>
            <if test="q.startDate != null and q.startDate != ''">
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{q.startDate},'%y%m%d')
            </if>
            <if test="q.endDate != null and q.endDate != ''">
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{q.endDate},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="listConfig" resultType="com.master.chat.sys.pojo.entity.SysConfig">
        select <include refid="Base_Column_List"/>
        from sys_config
        <where>
            <if test="q.name != null and q.name != ''">
                AND config_name like concat('%', #{q.configName}, '%')
            </if>
            <if test="q.configType != null and q.configType != ''">
                AND config_type = #{q.configType}
            </if>
            <if test="q.configKey != null and q.configKey != ''">
                AND config_key like concat('%', #{q.configKey}, '%')
            </if>
            <if test="q.startDate != null and q.startDate != ''">
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{q.startDate},'%y%m%d')
            </if>
            <if test="q.endDate != null and q.endDate != ''">
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{q.endDate},'%y%m%d')
            </if>
        </where>
    </select>

</mapper>