<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.master.chat.sys.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.master.chat.sys.pojo.entity.SysUser">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="login_time" property="loginTime"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="uid" property="uid"/>
        <result column="name" property="name"/>
        <result column="nick_name" property="nickName"/>
        <result column="tel" property="tel"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="status" property="status"/>
        <result column="admind" property="admind"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 好友列表映射结果 -->
    <resultMap id="contactListSysUserMap" type="com.master.chat.sys.pojo.vo.ContactUserVO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" property="username"/>
        <result column="uid" property="uid"/>
        <result column="name" property="name"/>
        <result column="nick_name" property="nickName"/>
        <result column="tel" property="tel"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="online" property="online"/>
        <result column="gender" property="gender"/>
        <collection property="posts" javaType="list" ofType="com.master.chat.sys.pojo.vo.PostVO">
            <id column="pid" jdbcType="BIGINT" property="id"/>
            <result column="pname" jdbcType="VARCHAR" property="name"/>
        </collection>
        <collection property="depts" javaType="list" ofType="com.master.chat.sys.pojo.vo.DeptVO">
            <id column="did" jdbcType="BIGINT" property="id"/>
            <result column="dname" jdbcType="VARCHAR" property="name"/>
        </collection>
        <collection property="roles" javaType="list" ofType="com.master.chat.sys.pojo.vo.RoleVO">
            <id column="rid" jdbcType="BIGINT" property="id"/>
            <result column="rname" jdbcType="VARCHAR" property="name"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_user, create_time, update_user, update_time, login_time, username, password, uid, name, nick_name, tel,
        avatar, email, gender, status, admind, deleted
    </sql>

    <sql id="selectSysUser">
        select t.*,
        t2.`name` as deptName
        from sys_user t
        left join sys_user_dept t1 on t.id = t1.sys_user_id
        left join sys_dept t2 on t1.dept_id = t2.id
        left join sys_user_role t3 on t.id = t3.sys_user_id
        <where>
            t.deleted = 0
            <if test="q.username != null and q.username != ''">
                and t.username like concat('%',#{q.username},'%')
            </if>
            <if test="q.name != null and q.name != ''">
                and t.name like concat('%',#{q.name},'%')
            </if>
            <if test="q.tel != null and q.tel != ''">
                and t.tel like concat('%',#{q.tel},'%')
            </if>
            <if test="q.status != null and q.status != -1">
                and t.status = #{q.status}
            </if>
            <if test="q.deptId != null and q.deptId != '' and q.deptId >0 ">
                and (t1.dept_id in (select t.id from sys_dept t where find_in_set(#{q.deptId},
                replace(t.tree_path,'-',',')) and t.deleted = 0))
            </if>
            <if test="q.authorization != null">
                <choose>
                    <when test="q.authorization == 1">
                        and t3.role_id = #{q.roleId}
                    </when>
                    <otherwise>
                        and t.id not in (select t.sys_user_id from sys_user_role t where t.role_id = #{q.roleId} and
                        t.status = 1)
                    </otherwise>
                </choose>
            </if>
            <if test="q.startDate != null and q.startDate != ''">
                and DATE_FORMAT(t.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{q.startDate}, '%Y-%m-%d')
            </if>
            <if test="q.endDate != null and q.endDate != ''">
                and DATE_FORMAT(t.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{q.endDate}, '%Y-%m-%d')
            </if>
        </where>
        group by t.id order by t.id desc
    </sql>

    <update id="updateLoginTime">
        update sys_user t set t.login_time = now() where t.id = #{id}
    </update>

    <select id="pageSysUser" resultType="com.master.chat.sys.pojo.vo.SysUserVO">
        <include refid="selectSysUser"></include>
    </select>

    <select id="listSysUser" resultType="com.master.chat.sys.pojo.vo.SysUserVO">
        <include refid="selectSysUser"></include>
    </select>

    <select id="listContactSysUser" resultMap="contactListSysUserMap">
        select t.id, t.username, t.uid, t.name, t.nick_name, t.tel, t.avatar, t.gender, t.email,
               tr.`id`   as rid, tr.`name` as rname,
               td.`id`   as did, td.`name` as dname,
               tp.`id`   as pid, tp.`name` as pname
        from sys_user t
        left join sys_user_role tur on tur.sys_user_id = t.id
        left join sys_role tr on tr.id = tur.role_id
        left join sys_user_dept tud on tud.sys_user_id = t.id
        left join sys_dept td on td.id = tud.dept_id
        left join sys_user_post tup on tup.sys_user_id = t.id
        left join sys_post tp on tp.id = tup.post_id
    </select>

</mapper>
