<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.master.chat.gpt.mapper.ChatMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.master.chat.gpt.pojo.entity.ChatMessage" >
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="chat_id" property="chatId"/>
        <result column="parent_message_id" property="parentMessageId"/>
        <result column="message_id" property="messageId"/>
        <result column="model" property="model"/>
        <result column="model_version" property="modelVersion"/>
        <result column="role" property="role"/>
        <result column="content" property="content"/>
        <result column="content_type" property="contentType"/>
        <result column="app_key" property="appKey"/>
        <result column="finish_reason" property="finishReason"/>
        <result column="status" property="status"/>
        <result column="used_tokens" property="usedTokens"/>
        <result column="response" property="response"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id, t.create_user, t.create_time, t.chat_id, parent_message_id, t.message_id, t.model, t.model_version, t.role, t.content, t.content_type, t.finish_reason,
            t.status, t.app_key, t.used_tokens, t.response, t.deleted
    </sql>

    <!-- 通用查询条件 -->
    <sql id="BaseSelect">
        select <include refid="Base_Column_List"></include>, t1.title as chatTitle
        from gpt_chat_message t
        left join gpt_chat t1 on t.chat_id = t1.id
        <where>
            t.deleted = 0
            <if test="q.id != null and q.id != ''"> and t.id = #{q.id} </if>
            <if test="q.chatId != null"> and t1.id = #{q.chatId}</if>
            <if test="q.chatNumber != null"> and t1.chat_number = #{q.chatNumber}</if>
            <if test="q.userId != null and q.userId != ''"> and t1.user_id = #{q.userId}</if>
            <if test="q.messageId != null"> and t.message_id = #{q.messageId}</if>
            <if test="q.model != null and q.model != ''"> and t.model = #{q.model}</if>
            <if test="q.role != null and q.role != ''"> and t.role = #{q.role}</if>
            <if test="q.appKey != null and q.appKey != ''"> and t.app_key = #{q.appKey}</if>
            <if test="q.finishReason != null and q.finishReason != ''"> and t.finish_reason = #{q.finishReason}</if>
            <if test="q.status != null"> and t.status = #{q.status}</if>
            <if test="q.startDate != null and q.startDate != ''"> and date_format(t.create_time,'%Y-%m-%d') &gt;= #{q.startDate} </if>
            <if test="q.endDate != null and q.endDate != ''"> and date_format(t.create_time,'%Y-%m-%d') &lt;= #{q.endDate} </if>
            <if test="q.dataScope != null and q.dataScope != ''"> ${q.dataScope} </if>
        </where>
    </sql>

    <select id="pageChatMessage" resultType="com.master.chat.gpt.pojo.vo.ChatMessageVO">
        <include refid="BaseSelect"></include>
    </select>

    <select id="listChatMessage" resultType="com.master.chat.gpt.pojo.vo.ChatMessageVO">
        <include refid="BaseSelect"></include>
    </select>

    <select id="getChatMessage" resultType="com.master.chat.gpt.pojo.vo.ChatMessageVO">
        <include refid="BaseSelect"></include>
    </select>

    <select id="getChatNumByUser" resultType="java.lang.Integer">
        select count(1)
        from gpt_chat_message t
        left join gpt_chat t1 on t.chat_id = t1.id
        where t1.user_id = #{userId} and t.status = 2 and t.role = 'user'
    </select>

</mapper>