<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.master.chat.gpt.mapper.OpenkeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.master.chat.gpt.pojo.entity.Openkey" >
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="app_id" property="appId"/>
        <result column="app_key" property="appKey"/>
        <result column="app_secret" property="appSecret"/>
        <result column="total_tokens" property="totalTokens"/>
        <result column="used_tokens" property="usedTokens"/>
        <result column="surplus_tokens" property="surplusTokens"/>
        <result column="status" property="status"/>
        <result column="model" property="model"/>
        <result column="remark" property="remark"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id, t.create_user, t.create_time, t.update_user, t.update_time, t.app_id, t.app_key, t.app_secret, t.total_tokens, t.used_tokens, t.surplus_tokens,
        t.status, t.model, t.remark, t.deleted
    </sql>

    <!-- 通用查询条件 -->
    <sql id="BaseSelect">
        select <include refid="Base_Column_List"></include>
        from gpt_openkey t
        <where>
            t.deleted = 0
            <if test="q.id != null and q.id != ''"> and t.id = #{q.id} </if>
            <if test="q.appKey != null and q.appKey != ''"> and t.app_key = #{q.appKey}</if>
            <if test="q.status != null"> and t.status = #{q.status}</if>
            <if test="q.model != null and q.model != ''"> and t.model = #{q.model}</if>
            <if test="q.startDate != null and q.startDate != ''"> and date_format(t.create_time,'%Y-%m-%d') &gt;= #{q.startDate} </if>
            <if test="q.endDate != null and q.endDate != ''"> and date_format(t.create_time,'%Y-%m-%d') &lt;= #{q.endDate} </if>
            <if test="q.dataScope != null and q.dataScope != ''"> ${q.dataScope} </if>
        </where>
        order by t.id desc
    </sql>

    <select id="pageOpenkey" resultType="com.master.chat.gpt.pojo.vo.OpenkeyVO">
        <include refid="BaseSelect"></include>
    </select>

    <select id="listOpenkey" resultType="com.master.chat.gpt.pojo.vo.OpenkeyVO">
        <include refid="BaseSelect"></include>
    </select>

    <select id="listOpenkeyByModel" resultType="com.master.chat.gpt.pojo.vo.OpenkeyVO">
        select <include refid="Base_Column_List"></include>
        from gpt_openkey t where t.model = #{model} and t.status = 1
    </select>

    <select id="getOpenkey" resultType="com.master.chat.gpt.pojo.vo.OpenkeyVO">
        <include refid="BaseSelect"></include>
    </select>

    <update id="updateUsedTokens">
        update gpt_openkey t set t.used_tokens = t.used_tokens + #{usedTokens},
                                 t.surplus_tokens = t.total_tokens - t.used_tokens
        where t.app_key = #{appKey}
    </update>

</mapper>