<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.master.chat.quartz.mapper.SysJobLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.master.chat.quartz.pojo.entity.SysJobLog">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="job_id" property="jobId"/>
        <result column="name" property="name"/>
        <result column="job_group" property="jobGroup"/>
        <result column="job_message" property="jobMessage"/>
        <result column="invoke_target" property="invokeTarget"/>
        <result column="status" property="status"/>
        <result column="exception_info" property="exceptionInfo"/>
        <result column="start_time" property="startTime"/>
        <result column="stop_time" property="stopTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user,
        create_time,
        job_id, `name`, `job_group`, job_message, invoke_target, status, exception_info, start_time, stop_time
    </sql>

    <sql id="searchJobLog">
        <where>
            <choose>
                <when test="q.params !=null and q.params.jobId != null and q.params.jobId != ''">
                    AND job_id = #{q.params.jobId}
                </when>
                <otherwise>
                    <if test="q.name != null and q.name != ''">
                        AND name like concat('%', #{q.name}, '%')
                    </if>
                    <if test="q.jobGroup != null and q.jobGroup != ''">
                        AND job_group = #{q.jobGroup}
                    </if>
                </otherwise>
            </choose>
            <if test="q.status != null">
                AND status = #{q.status}
            </if>
            <if test="q.invokeTarget != null and q.invokeTarget != ''">
                AND invoke_target like concat('%', #{q.invokeTarget}, '%')
            </if>
            <if test="q.startDate != null and q.startDate != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{q.startDate},'%y%m%d')
            </if>
            <if test="q.endDate != null and q.endDate != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{q.endDate},'%y%m%d')
            </if>
        </where>
        order by id desc
    </sql>

    <select id="pageJobLog" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from sys_job_log
        <include refid="searchJobLog"></include>
    </select>

    <select id="listJobLog" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from sys_job_log
        <include refid="searchJobLog"></include>
    </select>

    <update id="cleanJobLog">
        truncate table sys_job_log
    </update>

</mapper> 